* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #1f2029;
    color: #fff;
    font-family: Droid-Sans, Monaco, Consolas;
    font-size: 12px;
}

main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem 3rem;
}

.hero {
    color: #45bb3e;
    font-size: 1.75rem;
}

.hero a {
    color: #45bb3e;
}

.hero a:hover * {
    color: gray;
}


.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
}

.social div {
    text-align: center;
}

.social i {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social a:hover * {
    color: gray;
}

.social a:visited {
    color: #fff;
}

footer {
    color: #45bb3e;
    height: 5vh;
    padding: 0 2rem;
}


/* Blinking cusror */

.blinking-cursor {
    margin: 1rem 0;
    color: #45bb3e;
    width: 5px;
    height: 3rem;
    background-color: #fff;
    display: inline-block;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: #45bb3e;
    }
}


/* Media queries */

@media screen and (max-width: 1200px) {
    main {
        padding: 5rem 3rem;
    }
}
@media screen and (max-width: 960px) {
    .social {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 3rem 3rem;
    }

    .hero{
        font-size: 1.5rem;
    }

    .social {
        margin-top: 4rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    main {
        padding: 2rem 3rem;
    }

    .social {
        margin-top: 2rem;
        grid-template-columns: 1fr;
    }
}